# Directory
.idea/
target/
out/

# log File
*.log
learnSpringCloud/api-gateway/.mvn/wrapper/MavenWrapperDownloader.java
learnSpringCloud/api-gateway/.mvn/wrapper/maven-wrapper.properties
learnSpringCloud/api-gateway/.mvn/wrapper/maven-wrapper.jar
