<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="studentService" class="cn.zyx.service.impl.StudentServiceImpl"/>
    <!--<bean id="studentService" scope="prototype" class="cn.zyx.service.impl.StudentServiceImpl"/>-->

    <bean id="studentServices" init-method="init" destroy-method="destroy" class="cn.zyx.service.impl.StudentServiceImpl"/>

    <!--实例工厂-->
    <!--<bean id="myFactory" class="cn.zyx.service.factory.MyBeanFactory"/>
    <bean id="studentService" factory-bean="myFactory" factory-method="createStudentService"/>-->

    <!--静态工厂-->
    <!--<bean id="studentService" class="cn.zyx.service.factory.MyStaticBeanFactory" factory-method="createStudentService"/>-->

</beans>